body {
    padding: 0; 
    margin: 0;
    background: linear-gradient(to right, #f3b2b1, #c42627);
    font-family: "Lato";
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding:0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.top-container {
    text-align: center;
    background: #fff;
    box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.5);
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
}

.top-container h1 {
    letter-spacing: 3px;
    margin: 0 0 20px 0;
    line-height: 1.5em;
    font-size: 3em;
}

.top-container p {
    font-weight: bold;
    font-size: 14px;
}

.top-container .search-pokemon {
    border: 1px solid #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 30%;
    background-color: #fff;
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.5);
    color: #000;
    font-size: 12px;
    padding: 10px 0;
    text-indent: 10px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.top-container .search-pokemon:focus {
    outline: none;
}

.top-container .type-buttons {
    max-width: 800px;
    margin: 0 auto;
}

button {
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    font-family: "Roboto", sans-serif;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.top-container .type-buttons button {
    color: #fff;
    padding: 5px 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
}

.top-container .type-buttons button:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

.poke-container {
    display: flex;
    align-content: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
    padding-top: 40px;
}

.poke-container .no-pokemon {
    display: none;
}

.poke-container .no-pokemon.show {
    display: block;
}

.pokemon {
    background-color: #eee;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.5);
    transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    max-width: 160px;
    box-sizing: border-box;
}

.pokemon:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.pokemon .image-container {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
}

.pokemon .image-container img {
    margin-top: 20px;
    max-width: 90%;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .number {
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
}

.pokemon .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
}

.pokemon .poke-info {
    display: block;
    color: #fff;
    width: 120px;
    font-size: 14px;
    line-height: 24px;
    margin: 10px auto;
    background-color: #ff5a68;
}

.pokemon .poke-info.disableClick {
    pointer-events: none;
}

#info-card {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.5);
    z-index: 3;
}

#info-card .info {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#info-card .info .image-container {
    border-radius: 50%;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
}

#info-card .info .image-container img {
    margin-top: 20px;
    max-width: 200px;
}

#info-card .info h2 {
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

#info-card .info .text-info {
    display: flex;
    flex-direction: row;
}

#info-card .info .text-info h3:first-of-type {
    border-right: 1px solid #000;
}

#info-card .info .text-info h3 {
    padding: 0 34px;
    width: 120px;
}

#info-card .info .text-info h4 {
    padding: 0 30px;
    color: #807e7e;
    width: 116px;
}

#info-card .info .aditional-info {
    margin-top: 10px;
}

#info-card .info .aditional-info h3 {
    margin-top: 10px;
}

#info-card .close {
    position: absolute;
    right: 14px;
    top: 14px;
    width: 28px;
    height: 28px;
    opacity: 0.3;
}
#info-card .close:hover {
    opacity: 1;
}
#info-card .close:before, #info-card .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 28px;
    width: 2px;
    background-color: #333;
}
#info-card .close:before {
    transform: rotate(45deg);
}
#info-card .close:after {
    transform: rotate(-45deg);
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.loading .pokeball {
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: fall 1.0s ease-in-out,                                    
                shake 1.25s cubic-bezier(.36,.07,.19,.97) infinite;
    -webkit-animation: fall 1.0s ease-in-out,                                    
                        shake 1.25s cubic-bezier(.36,.07,.19,.97) infinite;
}

.loading .pokeball::before,
.loading .pokeball::after {
    content:"";
    position: absolute;
}

.loading .pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
}
.loading .pokeball::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background: #000;
}
.loading .pokeball-button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
    animation: blink .5s alternate infinite;
    -webkit-animation: blink .5s alternate infinite;
}

.loading p {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.load-button {
    display: block;
    width: 220px;
    font-size: 18px;
    line-height: 28px;
    margin: 30px auto;
    padding: 10px 0;
    background: linear-gradient(to right top, #ed433f, #df3a37, #d2302f, #c42627, #b71b1f);
    color: #fff;
}

.load-button:hover {
    color: #df3a37;
    background: #fff;
}

.top-button {
    display: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0px 15px rgba(0,0,0, 0.4);
    position: fixed;
    bottom: 30px;
    right: 20px;
    outline: none;
    width: 60px;
    height: 60px;
    padding: 26px 0;
    z-index: 1;
}

.top-button .arrow {
    border: solid #b71b1f;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* Animation */
@keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
}
@keyframes shake {
    0 { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
}
@keyframes fall {
    0% { top: -800px }
    60% { top: 0 }
    80% { top: -20px }
    100% { top: 0 }
}

@media (max-width: 640px) {
    .top-container .search-pokemon {
        width: 90%;
    }
    #info-card {
        width: 300px;
    }
}

@media (max-width: 320px) {
    #info-card {
        width: 280px;
    }
}
